<h2>Listing of all contact</h2>

<table>
	<thead>
		<tr>
			<th>Nama</th>
			<th>Nomor HP</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @contacts.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.nomor_hp %></td>
			<td>
				<%= link_to 'Edit', edit_contact_path(c) %>
				<%= link_to 'show detail', contact_path(c) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to 'add new contact', new_contact_path %></p>